



a{
    color: #222;
}
@media screen and (max-width:768px) {
    body{background-color:rgb(243, 243, 169);}

}

@media screen and (max-width:400px){
    
    
}

body{
    padding: 0;
    margin: 0;
}

.categories{
    height: 100%;
    width: 20%;
    background-color:rgb(7, 8, 68);
    text-align: center;
    padding-top: 10%;
    position: fixed;
}
.categories img{
    width: 55%;
    border-radius: 50%;
    border: 8px solid rgb(202,125,96);
}
a{  display: block;
    color:rgb(250, 247, 245);
    text-decoration: none;
    padding: 5%;
    font-weight: bold;
}
span{
    color:rgb(189,93,56) ;  
    display: inline;
}
.about span a{display: inline;color:rgb(189,93,56)}
h1{
    color: rgb(52, 58, 64);
    text-transform: uppercase; 
    height: 130px;
    font-stretch: condensed;
    
}
.pabout1{
     color: rgb(33, 88, 143);
     font-size: small;
}
.pabout2{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-style: italic;
}
.about{
    width: 75%;
    height:525px;
    transform: translateX(30%);
    padding-top: 10%;
    font-size: larger;
}
.icone{   
height: 10%;
width: 100%;
}
.icone1{
    border-radius: 50%;
    display:inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
   background: rgb(52, 58, 64);
    color: white;
    margin-right: 25px;
}
.icone1:hover{
    background:rgb(189,93,56) ;
}
.experience{
    width: 75%;
    height: 600px;
   padding-top: 87px;
    transform: translateX(30%);
    text-decoration:#222;
}
.experience img {
    width: 6%;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    font-stretch: condensed;
    padding-top: 5rem;
}
h3{
    color: #193b5e;
    font-weight: 800;
    border-spacing: 15px
}
.exp{
    color: rgb(0, 0, 0);
    transform: translateX(588px);
    display: inline-block;
    font-size: 20px;
    font-weight: initial;
}
.exp2{
    color: rgb(0, 0, 0);
    transform: translateX(588px);
    display: inline-block;
    font-size: 20px;
    font-weight: initial;  
}

.formation{
    width: 30%;
   padding-bottom: 95px;
    transform: translateX(80%);
    
}

.formation img{
    width: 40%;

}
.exp3{
    color: rgb(0, 0, 0);
    transform: translateX(830px);
    display: inline-block;
    font-size: 15px;
    font-weight: initial;  
}
.pat{
    color:rgb(0, 0, 0);
    font-weight: initial;  
} 
.skills{
    width: 20%;
    height: 525px;
   padding-top: 90px;
    transform: translateX(120%);
        line-height: 1.8;
       
      
        
    }
.skills img{
    word-spacing: 1px;
    color:rgb(0, 0, 0);
    width: 40%;
}


ul{
    color:rgb(0, 0, 0);
    display: inline-block;
    padding-bottom: 2rem;
}
.interests{
    width: 75%;
    height: 525px;
    padding-top: 15rem;
    transform: translateX(30%);
    padding-top: 40rem;

}

.interests img {
     width:20%;
     display: inline-block;
}


